<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yaweitest;AccountKey=XQ84hdncOQEZv++CqdyA+CAxwKQ3a6TWcRMzDz8J4qb76l022sL4IBBwZ6sJYKH0jhSLQI9OufLkEsUSpVIf0w==" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>